src/fr/jmmc/aspro/model/AsproDataModel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns="http://www.jmmc.fr/aspro/0.1"
            targetNamespace="http://www.jmmc.fr/aspro/0.1">

  <xsd:annotation>
    <xsd:documentation>
        This xml schema describes the data model used in the ASPRO software

        Created : 08/09/2009 :
          Laurent : Initial revision
    </xsd:documentation>
  </xsd:annotation>



  <!-- Elements -->

  <!-- OI_DATA element -->
  <xsd:element name="OI_DATA" type="OIFitsFile">
    <xsd:annotation>
      <xsd:documentation>
        this element contains a complete OIFits structure
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>


  <!-- OI_ARRAY element -->
  <xsd:element name="OI_ARRAY" type="OIArrayTable">
    <xsd:annotation>
      <xsd:documentation>
        this element contains only the telescope definition
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>


  <!-- OI_TARGET element -->
  <xsd:element name="OI_TARGET" type="OITargetTable">
    <xsd:annotation>
      <xsd:documentation>
        this element contains only the target definition
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>




<!-- OI Fits base model -->

  <!-- OIFits structure -->
  <xsd:complexType name="OIFitsFile">
    <xsd:annotation>
      <xsd:documentation>
        This type describes the OIFits Table structure
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="OI_TARGET" type="OITargetTable">
        <xsd:annotation>
          <xsd:documentation>
              A single required OI_TARGET Table
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <!-- should we support multiple OI_ARRAY tables ? maxOccurs="unbounded" -->
      <xsd:element name="OI_ARRAY" type="OIArrayTable" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
              An optional OI_ARRAY Table
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="OI_WAVELENGTH" type="OIWaveLengthTable" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
              0..n OI_WAVELENGTH Table(s) corresponding to the spectral responses for a given detector
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="OI_VIS" type="OIVisTable" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
              1..n OI_VIS Table(s) corresponding to the complex visiblity for a given detector
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="OI_VIS2" type="OIVis2Table" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
              1..n OI_VIS2 Table(s) corresponding to the squared visiblity for a given detector
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="OI_T3" type="OIT3Table" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
              1..n OI_T3 Table(s) corresponding to the squared visiblity for a given detector
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

    </xsd:sequence>
  </xsd:complexType>


<!-- abstract OIFitsTable -->
  <xsd:complexType name="OIFitsTable" abstract="true">
    <xsd:annotation>
      <xsd:documentation>
        This type describes the abstract OIFITS table
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="EXTVER" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>
            FITS Extension keyword used to index tables with the same EXTNAME
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>





<!-- Telescope section -->

  <!-- OIArrayTable -->
  <xsd:complexType name="OIArrayTable">
    <xsd:annotation>
      <xsd:documentation>
        This type describes the OI_ARRAY Table of the OIFits specification
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="OIFitsTable">
        <!-- TBD -->
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>




<!-- Target section -->

  <!-- OITargetTable -->
  <xsd:complexType name="OITargetTable">
    <xsd:annotation>
      <xsd:documentation>
        This type describes the OI_TARGET Table of the OIFits specification
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="OIFitsTable">
        <xsd:sequence>
          <xsd:element name="OI_REVN" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>
                  Revision number of the table definition
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>

          <xsd:element name="TARGET" type="OITarget" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


  <!-- OITargetEntry -->
  <xsd:complexType name="OITarget">
    <xsd:annotation>
      <xsd:documentation>
OIFits Target Definition = one row in the OI_TARGET Table :

TARGET_ID . . . . . . .          I (1) Index number
TARGET . . . . . . . . . . .     A (16) Target name
RAEP0 . . . . . . . . . . . . .  D (1)  R.A. at mean equinox (deg)
DECEP0 . . . . . . . . . . . .   D (1)  Decl. at mean equinox (deg)
EQUINOX . . . . . . . . .        E (1)  Equinox
RA_ERR . . . . . . . . . . .     D (1)  Error in R.A. at mean equinox (deg)
DEC_ERR . . . . . . . . . .      D (1)  Error in decl. at mean equinox (deg)
SYSVEL . . . . . . . . . . .     D (1)  Systemic radial velocity (m s 1)
VELTYP . . . . . . . . . . . .   A (8)  Reference for radial velocity (LSR, GEOCENTR, etc.)
VELDEF . . . . . . . . . . .     A (8)  Deﬁnition of radial velocity (OPTICAL, RADIO)
PMRA . . . . . . . . . . . . . . D (1)  Proper motion in R.A. (deg yr 1)
PMDEC . . . . . . . . . . . .    D (1)  Proper motion in decl. (deg yr 1)
PMRA_ERR . . . . . . .           D (1)  Error of proper motion in R.A. (deg yr 1)
PMDEC_ERR . . . . . .            D (1)  Error of proper motion in decl. (deg yr 1)
PARALLAX . . . . . . .           E (1)  Parallax (deg)
PARA_ERR . . . . . . . .         E (1)  Error in parallax (deg)
SPECTYP . . . . . . . . . .      A (16) Spectral type

      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="TARGET_ID" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>
            Index number of this target
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TARGET" type="string16">
        <xsd:annotation>
          <xsd:documentation>
            Target name (16 characters)
              ASPRO variable = DEFSRCE%SOUNAME_%i%
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

<!-- position -->
      <xsd:element name="RAEP0" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
            R.A. at mean equinox (deg).
              ASPRO variable = DEFSRCE%RA_%i%
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DECEP0" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
            Decl. at mean equinox (deg)
              ASPRO variable = DEFSRCE%DEC_%i%
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="EQUINOX" type="xsd:float">
        <xsd:annotation>
          <xsd:documentation>
            The EQUINOX field contains a (ﬂoating point) Julian year, giving both the
            epoch of the position (RAEP0 and DECEP0) and the equinox for the celestial
            coordinate system in which the position is expressed
              ASPRO variable = DEFSRCE%EPO_%i%
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RA_ERR" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
            Error in R.A. at mean equinox (deg)
              ASPRO variable = NONE
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DEC_ERR" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
            Error in decl. at mean equinox (deg)
              ASPRO variable = NONE
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

<!-- velocity -->
      <xsd:element name="SYSVEL" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
            Systemic radial velocity (m s 1)
              ASPRO variable = NONE
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="VELTYP" type="VelocityType">
        <xsd:annotation>
          <xsd:documentation>
            Reference for radial velocity (LSR, GEOCENTR, etc.)
              ASPRO variable = NONE
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="VELDEF" type="VelocityDefinition">
        <xsd:annotation>
          <xsd:documentation>
            Definition of radial velocity (OPTICAL, RADIO)
              ASPRO variable = NONE
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

<!-- proper motion -->
      <xsd:element name="PMRA" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
            Proper motion in R.A. (deg yr 1)
              ASPRO variable = NONE
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PMDEC" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
            Proper motion in decl. (deg yr 1)
              ASPRO variable = NONE
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PMRA_ERR" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
            Error of proper motion in R.A. (deg yr 1)
              ASPRO variable = NONE
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PMDEC_ERR" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
            Error of proper motion in decl. (deg yr 1)
              ASPRO variable = NONE
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

<!-- parallax -->
      <xsd:element name="PARALLAX" type="xsd:float">
        <xsd:annotation>
          <xsd:documentation>
            Parallax (deg)
              ASPRO variable = NONE
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PARA_ERR" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
            Error in parallax (deg)
              ASPRO variable = NONE
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

<!-- spectral type -->
      <xsd:element name="SPECTYP" type="string16">
        <xsd:annotation>
          <xsd:documentation>
            Spectral type
              ASPRO variable = NONE
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

    </xsd:sequence>
  </xsd:complexType>


  <!-- Velocity Type used by OITargetEntry.VELTYP -->
  <xsd:simpleType name="VelocityType">
    <xsd:annotation>
      <xsd:documentation>Possible values for the Velocity Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="string8">
      <xsd:enumeration value="LSR">
        <xsd:annotation>
          <xsd:documentation>Local Standard of rest</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="HELIOCEN">
        <xsd:annotation>
          <xsd:documentation>Relative to the Sun</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="BARYCENT">
        <xsd:annotation>
          <xsd:documentation>Solar system barycenter</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="GEOCENTR">
        <xsd:annotation>
          <xsd:documentation>Center of mass of the Earth</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="TOPOCENT">
        <xsd:annotation>
          <xsd:documentation>Uncorrected</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>


  <!-- Velocity Definition used by OITargetEntry.VELDEF -->
  <xsd:simpleType name="VelocityDefinition">
    <xsd:annotation>
      <xsd:documentation>Possible values for the Velocity Definition</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="string8">
      <xsd:enumeration value="OPTICAL">
        <xsd:annotation>
          <xsd:documentation>Optical</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="RADIO">
        <xsd:annotation>
          <xsd:documentation>Radio</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>




<!-- WaveLength section -->

  <!-- OIWaveLengthTable -->
  <xsd:complexType name="OIWaveLengthTable">
    <xsd:annotation>
      <xsd:documentation>
        This type describes the OI_WAVELENGTH Table of the OIFits specification
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="OIFitsTable">
        <!-- TBD -->
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>




<!-- Complex Visibility section -->

  <!-- OIVisTable -->
  <xsd:complexType name="OIVisTable">
    <xsd:annotation>
      <xsd:documentation>
        This type describes the OI_VIS Table of the OIFits specification
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="OIFitsTable">
        <!-- TBD -->
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>




<!-- Squared Visibility section -->

  <!-- OIVis2Table -->
  <xsd:complexType name="OIVis2Table">
    <xsd:annotation>
      <xsd:documentation>
        This type describes the OI_VIS2 Table of the OIFits specification
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="OIFitsTable">
        <!-- TBD -->
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>




<!-- Triple Product section -->

  <!-- OIT3Table -->
  <xsd:complexType name="OIT3Table">
    <xsd:annotation>
      <xsd:documentation>
        This type describes the OI_T3 Table of the OIFits specification
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="OIFitsTable">
        <!-- TBD -->
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>




<!-- String types -->

  <xsd:simpleType name="string8">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="0"/>
      <xsd:maxLength value="8"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="string16">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="0"/>
      <xsd:maxLength value="16"/>
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>