src/fr/jmmc/aspro/model/AsproOIModel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns="http://www.jmmc.fr/aspro-oi/0.1"
            targetNamespace="http://www.jmmc.fr/aspro-oi/0.1">

  <xsd:annotation>
    <xsd:documentation>
        This xml schema describes the optical interferometer 

        Created : 08/09/2009 :
          Laurent : Initial revision
    </xsd:documentation>
  </xsd:annotation>





<!-- Elements -->

  <xsd:element name="interferometerSetting" type="InterferometerSetting">
    <xsd:annotation>
      <xsd:documentation>
        this element contains a complete Interferometer description
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="observationSetting" type="Observation">
    <xsd:annotation>
      <xsd:documentation>
        this element contains a complete Observation description
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>




<!-- Class Types -->

  <xsd:complexType name="InterferometerSetting">
    <xsd:annotation>
      <xsd:documentation>
        This type describes the interferometer and its configurations
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="description" type="InterferometerDescription">
        <xsd:annotation>
          <xsd:documentation>
            this element contains a complete Interferometer description
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="configuration" type="InterferometerConfiguration">
        <xsd:annotation>
          <xsd:documentation>
            this element contains the list of possible Interferometer configuration in the sense of a Call for Proposal
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>




<!-- Observation -->
  <xsd:complexType name="Observation">
    <xsd:annotation>
      <xsd:documentation>
        This type describes the observation settings

        Information to add :

        - focal instrument (focalinst)
        - configuration (configIndex)
        - insMode
        - insNchan
        - insRes


        - atmosphere Quality (atmoQual)
        - min elevation for the target (minElev) "Min. Elevation (degrees)" /range oipt%obsMinElev 90

        - polychromatic (flag)



        - target(s)


   let oipt%popslist 'oipt%popslist' /Prompt "Pops Config (eg. 1234, 0000=none)"

   let oipt%atmoQual 'oipt%atmoQual' /prompt "Atmosphere Quality" /choice "Excellent" "Good" "Average" "Bad" "Awful"

   let oipt%dit 'oipt%dit' /prompt "Detector Integration Time" /Choice 25 50 100

   let oipt%insMode 'oipt%insMode' /prompt "Spectral Mode" /INDEX oipt%vlti%amber%insMode

   let oipt%polychromatic 'oipt%polychromatic' /prompt "Simulate Instrument`s spectral resolution"

   let oipt%obsDuration 'oipt%obsDuration' /prompt "Total Integration Time (s) per calibrated point"

  let oipt%ha1 'oipt%ha1' /prompt "Hour Angle Start" /range -12 12 *
  let oipt%ha2 'oipt%ha2' /prompt "Hour Angle End" /range -12 12 *
  let oipt%minElev 'oipt%minElev' /prompt "Min. Elevation (degrees)" /range oipt%obsMinElev 90
  let oipt%samplingTime 'oipt%samplingTime' /prompt "Observing Sampling Periodicity (min)"

      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
              Identifier for this observation
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <!-- date / time : should we support a date range ? -->
      <xsd:element name="date" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>
              Observation Date (YYYY-MM-DD)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="time" type="xsd:time">
        <xsd:annotation>
          <xsd:documentation>
              Observation Time (hh:mm:ss)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <!-- Guidage : etoile visee (position), magnitude dans la bande spectrale -->



    </xsd:sequence>


  </xsd:complexType>





  <!-- InterferometerConfiguration -->
  <xsd:complexType name="InterferometerConfiguration">
    <xsd:annotation>
      <xsd:documentation>
        This type describes the configuration for a given interferometer and its instruments
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
              Name of the configuration (VLTI CP 85)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="interferometer" type="xsd:IDREF">
        <xsd:annotation>
          <xsd:documentation>
              The interferometer associated with this configuration
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="instrument" type="FocalInstrumentConfiguration" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
              The list of  configuration for a focal instrument
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <!-- TBD -->
    </xsd:sequence>
  </xsd:complexType>


  <!-- FocalInstrumentConfiguration -->
  <xsd:complexType name="FocalInstrumentConfiguration">
    <xsd:annotation>
      <xsd:documentation>
        This type describes a focal instrument configuration (AMBER : UT1-UT2-UT4, A0-K0-G1, MIDI : UT1-UT3-102m, E0-I1-68.8m)
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="focalInstrument" type="xsd:IDREF">
        <xsd:annotation>
          <xsd:documentation>
              The focal instrument associated with this configuration
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="configuration" type="FocalInstrumentConfigurationItem" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
              The list of configuration for the focal instrument
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <!-- TBD -->
    </xsd:sequence>
  </xsd:complexType>
  

  <!-- FocalInstrumentConfigurationItem -->
  <xsd:complexType name="FocalInstrumentConfigurationItem">
    <xsd:annotation>
      <xsd:documentation>
        This type describes a focal instrument configuration item (AMBER : U1-U2-U4)
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
              The name of this configuration (optional)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="stations" type="xsd:IDREFS">
        <xsd:annotation>
          <xsd:documentation>
              The list of stations for this configuration (U1-U2-U4)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <!-- TBD -->
    </xsd:sequence>
  </xsd:complexType>







  <!-- Interferometer -->
  <xsd:complexType name="InterferometerDescription">
    <xsd:annotation>
      <xsd:documentation>
        This type describes the interferometer site

        Information to add :

        obsMinElev 20

      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="id" type="xsd:ID">
        <xsd:annotation>
          <xsd:documentation>
              Identifier for this Interferometer
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="name" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
              Name of the Interferometer (VLTI)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="description" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
              Description of the Interferometer
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="position" type="Position3D">
        <xsd:annotation>
          <xsd:documentation>
          These “GEOCENTRIC” coordinates are given
          in an earth-centered, earth-fixed, Cartesian reference frame. The origin of the coordinates
          is the earth’s centre of mass. The z axis is parallel to the direction of the conventional
          origin for polar motion. The x axis is parallel to the direction of the intersection of the
          Greenwich meridian with the mean astronomical equator. The y axis completes the right-
          handed, orthogonal coordinate system.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      

      <xsd:element name="telescope" type="Telescope" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
              The list of telescopes for this interferometer
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="station" type="Station" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
              The list of stations for this interferometer
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="channel" type="Channel" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
              The list of channels for this interferometer
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="switchyard" type="SwitchYard" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
              The switchyard for this interferometer (optional)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="delayLine" type="DelayLine" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
              The list of delay lines for this interferometer
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="pop" type="Pop" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
              The list of pops for this interferometer (optional)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="fringeTracker" type="FringeTracker" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
              The interferometer has a fringe tracker system (optional)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="focalInstrument" type="FocalInstrument" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
              The list of instruments for this interferometer
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

    </xsd:sequence>
  </xsd:complexType>




  <!-- Telescope -->
  <xsd:complexType name="Telescope">
    <xsd:annotation>
      <xsd:documentation>
        This type describes a telescope or a telescope family ...
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="id" type="xsd:ID">
        <xsd:annotation>
          <xsd:documentation>
              Identifier for this Telescope or family
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="name" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
              Name of this telescope (UT1, AT1 ...)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="diameter" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
              Telescope diameter (m)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="adaptiveOptics" type="AdaptiveOptics" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
              Telescope has an Adaptive Optics system (optional)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <!-- ActiveOptics ?? -->


      <!-- Guidage : spectral band, magnitude limite, champ de vue ... -->


      <!-- TBD -->
    </xsd:sequence>
  </xsd:complexType>




  <!-- AdaptiveOptics -->
  <xsd:complexType name="AdaptiveOptics">
    <xsd:annotation>
      <xsd:documentation>
        This type describes an Adaptive Optics system
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="band" type="SpectralBand">
        <xsd:annotation>
          <xsd:documentation>
              Spectral Band
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="numberActuators" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>
              Number of actuators
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>




  <!-- Station -->
  <xsd:complexType name="Station">
    <xsd:annotation>
      <xsd:documentation>
        This type describes a station for a given telescope
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="name" type="xsd:ID">
        <xsd:annotation>
          <xsd:documentation>
              Name / Identifier of this Station (U1, A0, K0, G1 ...)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="telescope" type="xsd:IDREF">
        <xsd:annotation>
          <xsd:documentation>
              Telescope Reference
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="relativePosition" type="Position3D">
        <xsd:annotation>
          <xsd:documentation>
              Relative position (m) to the interferometer location
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="delayLineFixedOffset" type="xsd:double" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
             Delay fixed offset ???
             If present, sets a fixed offset whatever the switchyard
             (or if no sw at all, for ex. 1 delay line only).
             will eventually be update by the switchyard file
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="horizon" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
              To be defined : Polygons or segments ??? degrees ?
              cf : http://www.eso.org/sci/facilities/paranal/telescopes/vlti/pointing/index.html
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>

      <!--
        Elevation limit 	Lower Azimuth Limit 	Upper Azimuth Limit  ???

        http://www.eso.org/sci/facilities/paranal/telescopes/vlti/configuration/index.html
      -->

      <!-- TBD -->
  </xsd:complexType>




  <!-- Channel -->
  <xsd:complexType name="Channel">
    <xsd:annotation>
      <xsd:documentation>
        This type describes an interferometer channel
        corresponding to a beam arriving in the interferometer focal plane
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="name" type="xsd:ID">
        <xsd:annotation>
          <xsd:documentation>
              Channel name / Identifier
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>




  <!-- SwitchYard -->
  <xsd:complexType name="SwitchYard">
    <xsd:annotation>
      <xsd:documentation>
        This type describes a interferometer switchyard
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="connection" type="Connection" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
              The list of delay lines for this interferometer
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>




  <xsd:complexType name="Connection">
    <xsd:annotation>
      <xsd:documentation>
        This type describes a connection between a station and a channel to give its optical length
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="station" type="xsd:IDREF">
        <xsd:annotation>
          <xsd:documentation>
              The starting point of the connection = the station
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="channel" type="xsd:IDREF">
        <xsd:annotation>
          <xsd:documentation>
              The ending point of the connection = the channel
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="opticalLength" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
              The length of this connection in meter
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>




  <!-- DelayLine -->
  <xsd:complexType name="DelayLine">
    <xsd:annotation>
      <xsd:documentation>
        This type describes a delay line (DL) present in the interferometer
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <!-- warning : DL1 can be used several times in a document gathering multiple interferometers -->
      <xsd:element name="name" type="xsd:ID">
        <xsd:annotation>
          <xsd:documentation>
              Delay Line (DL1 ...)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="maximumThrow" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
              Maximum throw in m
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
      <!-- TBD -->
  </xsd:complexType>




  <!-- Pop -->
  <xsd:complexType name="Pop">
    <xsd:annotation>
      <xsd:documentation>
        This type describes a Pop
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
        <!-- cf CHARA.pops == pop list is associated to a delay line or not ??? -->
      <xsd:element name="value" type="xsd:double" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
              Pop value in meter
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>






  <!-- FocalInstrument -->
  <xsd:complexType name="FocalInstrument">
    <xsd:annotation>
      <xsd:documentation>
        This type describes a focal instrument (AMBER, MIDI ...)

        Information to add :
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="name" type="xsd:ID">
        <xsd:annotation>
          <xsd:documentation>
              Name of the focal instrument (AMBER, MIDI ...)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="description" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
              Description of the instrument
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="defaultChannels" type="xsd:IDREFS">
        <xsd:annotation>
          <xsd:documentation>
              The list of channels used by this instrument
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="mode" type="FocalInstrumentMode" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
              The list of mode for this focal instrument
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <!-- TBD -->
    </xsd:sequence>
  </xsd:complexType>







  <!-- FocalInstrumentMode -->
  <xsd:complexType name="FocalInstrumentMode">
    <xsd:annotation>
      <xsd:documentation>
        This type describes a focal instrument mode (AMBER : "Low_HK" ... "Medium_K_1_2300" ... "High_K_1_2481")
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
              The name of this mode
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="waveLengthMin" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
              The lower wave length
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="waveLengthMax" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
              The upper wave length
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <!-- TBD : add generic parameter settings ? -->

    </xsd:sequence>
  </xsd:complexType>







  <!-- FringeTracker -->
  <xsd:complexType name="FringeTracker">
    <xsd:annotation>
      <xsd:documentation>
        This type describes a Fringe Tracker system :

! Fringe Tracker
  define logical oipt%FTUsed /global ! FT in Use
  define real oipt%FTVisibility /global
  define real oipt%FTLimit /global
  define real oipt%FTMaxInt /global
  define integer oipt%FTMode /global
  define character oipt%FTBand*1 /global ! FT observing band

Fringe Tracker
 let oipt%FTExist YES
 let oipt%FTBand "H" ! same for FTs
 let oipt%FTUsed NO
 let oipt%FTMode 0
 let oipt%FTVisibility 0.9
 let oipt%FTLimit 12
 let oipt%FTMaxInt 60.0
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <!-- TBD -->
    </xsd:sequence>
  </xsd:complexType>



  <!-- SpectralBand -->
  <xsd:simpleType name="SpectralBand">
    <xsd:annotation>
      <xsd:documentation>
        Possible values for the SpectralBand (UBVRIJHKLMNQ)
        http://fr.wikipedia.org/wiki/Syst%C3%A8me_photom%C3%A9trique

        ASPRO : allowedSpectralBand (V, K, I, H, N, J) [1-3]
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="V">
        <xsd:annotation>
          <xsd:documentation>V band</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="R">
        <xsd:annotation>
          <xsd:documentation>R band</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="I">
        <xsd:annotation>
          <xsd:documentation>I band</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="J">
        <xsd:annotation>
          <xsd:documentation>J band</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="H">
        <xsd:annotation>
          <xsd:documentation>H band</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="K">
        <xsd:annotation>
          <xsd:documentation>K band</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="N">
        <xsd:annotation>
          <xsd:documentation>N band</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>





<!-- simple types restrictions -->

  <xsd:simpleType name="string16">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="0"/>
      <xsd:maxLength value="16"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="Position3D">
    <xsd:annotation>
      <xsd:documentation>
        This data type describes a carthesian position (x,y,z) in meters
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="posX" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
              X position value (m)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="posY" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
              Y position value (m)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="posZ" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
              Z position value (m)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>