src/fr/jmmc/aspro/model/AsproOIModel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns="http://www.jmmc.fr/aspro-oi/0.1"
            targetNamespace="http://www.jmmc.fr/aspro-oi/0.1"
            xmlns:tm="http://www.jmmc.fr/jmcs/models/0.1"
            xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
            xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
            jaxb:version="2.1" jaxb:extensionBindingPrefixes="xjc">

  <xsd:annotation>
    <xsd:documentation>
        This xml schema describes the optical interferometers and observations.
    </xsd:documentation>
    <xsd:appinfo>
      <jaxb:globalBindings>
        <xjc:superClass name="fr.jmmc.aspro.model.OIBase"/>
        <xjc:simple />
      </jaxb:globalBindings>

      <jaxb:schemaBindings>
        <jaxb:package name="fr.jmmc.aspro.model.oi"/>
      </jaxb:schemaBindings>
    </xsd:appinfo>
  </xsd:annotation>


  <xsd:import namespace="http://www.jmmc.fr/jmcs/models/0.1" schemaLocation="./targetModel.xsd"/>


<!-- Elements -->
  <xsd:element name="configurations" type="InterferometerFiles">
    <xsd:annotation>
      <xsd:documentation>
        this element contains a list of interferometer files
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="interferometerSetting" type="InterferometerSetting">
    <xsd:annotation>
      <xsd:documentation>
        this element contains a complete Interferometer description
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="observationSetting" type="Observation">
    <xsd:annotation>
      <xsd:documentation>
        this element contains a complete Observation description
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>




<!-- Class Types -->

  <xsd:complexType name="InterferometerFiles">
    <xsd:annotation>
      <xsd:documentation>
        This type describes the list of interferometer files
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="file" type="xsd:string" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            this element contains the file name of an interferometer file
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>




  <xsd:complexType name="InterferometerSetting">
    <xsd:annotation>
      <xsd:documentation>
        This type describes the interferometer and its configurations
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="description" type="InterferometerDescription">
        <xsd:annotation>
          <xsd:documentation>
            this element contains a complete Interferometer description
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="configuration" type="InterferometerConfiguration" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            this element contains the list of possible Interferometer configuration in the sense of a Call for Proposal
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>




<!-- Observation -->
  <xsd:complexType name="Observation">
    <xsd:annotation>
      <xsd:documentation>
        This type describes the observation settings (when, where, what)

        Information to add :

        - atmosphere Quality (atmoQual) "Excellent" "Good" "Average" "Bad" "Awful"

        - dit "Detector Integration Time" /Choice 25 50 100
        - obsDuration "Total Integration Time (s) per calibrated point"

      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
              Identifier for this observation
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="when" type="WhenSetting">
        <xsd:annotation>
          <xsd:documentation>
              When information
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="interferometerConfiguration" type="InterferometerConfigurationChoice">
        <xsd:annotation>
          <xsd:documentation>
              Selected interferometer
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="instrumentConfiguration" type="FocalInstrumentConfigurationChoice">
        <xsd:annotation>
          <xsd:documentation>
              Selected configuration
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="target" type="Target" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
              One or more target(s)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

    </xsd:sequence>

  </xsd:complexType>




  <!-- WhenSetting -->
  <xsd:complexType name="WhenSetting">
    <xsd:annotation>
      <xsd:documentation>
        This type describes when the observation will happen
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="date" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>
              Observation Date (YYYY-MM-DD) in GMT
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="nightRestriction" type="xsd:boolean" default="true">
        <xsd:annotation>
          <xsd:documentation>
              Use the night restrictions associated to the observation date
              to determine both observability and UV points
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="atmosphereQuality" type="AtmosphereQuality" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            Define the required atmosphere quality / seeing (used by noise modelling)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>





  <!-- InterferometerConfigurationChoice -->
  <xsd:complexType name="InterferometerConfigurationChoice">
    <xsd:annotation>
      <xsd:documentation>
        This type describes the chosen interferometer and its parameters
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
              The interferometer configuration (InterferometerConfiguration identifier)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="minElevation" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
            minimum elevation for the telescopes (deg). 
            Must be in the range [0;90]
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>




  <!-- FocalInstrumentConfigurationChoice -->
  <xsd:complexType name="FocalInstrumentConfigurationChoice">
    <xsd:annotation>
      <xsd:documentation>
        This type describes the chosen instrument, stations and its parameters
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
              The focal instrument configuration (InterferometerConfiguration identifier)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="stations" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
              The list of stations (U1 U2 U4)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="pops" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
              The list of pops (124 means Pop1, Pop2, Pop4 respectively for U1, U2, U4 i.e. same ordering).
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <!-- UV coverage data -->
      <xsd:element name="instrumentMode" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
              The instrument mode (FocalInstrumentMode identifier) defining the bandpass
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="samplingPeriod" type="xsd:double" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
              The observing sampling period (min)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

    </xsd:sequence>
  </xsd:complexType>




  <!-- Target definition -->
  <xsd:complexType name="Target">
    <xsd:annotation>
      <xsd:documentation>
        This type describes a target
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
            Target name
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

<!-- position -->
      <xsd:element name="RA" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
            R.A. at mean equinox (HMS)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DEC" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
            Decl. at mean equinox (DMS)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="EQUINOX" type="xsd:float">
        <xsd:annotation>
          <xsd:documentation>
            The EQUINOX field contains a (ﬂoating point) Julian year, giving both the
            epoch of the position (RA and DEC) and the equinox for the celestial
            coordinate system in which the position is expressed
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

<!-- other fields from OIFits TARGET -->

<!-- radial velocity -->
      <xsd:element name="SYSVEL" type="xsd:double" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Radial velocity (km/s)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="VELTYP" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Radial Velocity type (Radio, IR, Visible, UV, X, gamma)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

<!-- proper motion -->
      <xsd:element name="PMRA" type="xsd:double" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Proper motion in R.A. (mas/yr)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PMDEC" type="xsd:double" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Proper motion in decl. (mas/yr)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

<!-- missing PM RA/DEC errors -->

<!-- parallax -->
      <xsd:element name="PARALLAX" type="xsd:double" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Parallax (mas)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PARA_ERR" type="xsd:double" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Error in parallax (mas)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

<!-- identifiers -->
      <xsd:element name="IDS" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Simbad Identifiers (comma separated list)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

<!-- object types -->
      <xsd:element name="OBJTYP" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Object types
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

<!-- spectral types -->
      <xsd:element name="SPECTYP" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Spectral types
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

<!-- magnitudes -->
      <xsd:element name="FLUX_V" type="xsd:double" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Flux magnitude in band V
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="FLUX_I" type="xsd:double" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Flux magnitude in band I
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="FLUX_J" type="xsd:double" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Flux magnitude in band J
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="FLUX_H" type="xsd:double" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Flux magnitude in band H
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="FLUX_K" type="xsd:double" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Flux magnitude in band K
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="FLUX_N" type="xsd:double" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Flux magnitude in band N
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <!-- target models -->
      <xsd:element ref="tm:model" minOccurs="0" maxOccurs="unbounded"/>

      <!-- target configuration -->
      <xsd:element name="configuration" type="TargetConfiguration" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
              The specific configuration used to observe this target
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

    </xsd:sequence>
  </xsd:complexType>




  <!-- TargetConfiguration -->
  <xsd:complexType name="TargetConfiguration">
    <xsd:annotation>
      <xsd:documentation>
        This type describes the configuration used during the observation of the target.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      
      <!-- HA Min / Max -->
      <xsd:element name="HAMin" type="xsd:double" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            minimum hour angle in decimal hours
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="HAMax" type="xsd:double" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            maximum hour angle in decimal hours
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <!-- fringe tracker mode -->
      <xsd:element name="fringeTrackerMode" type="xsd:string" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
              The fringe tracker mode (among possible FringeTracker modes)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>




<!-- Interferometer Configuration associated to a particular configuration / period (like VLTI Period 85) -->

  <!-- InterferometerConfiguration -->
  <xsd:complexType name="InterferometerConfiguration">
    <xsd:annotation>
      <xsd:documentation>
        This type describes the configuration for a given interferometer and its instruments

        http://www.eso.org/sci/facilities/paranal/telescopes/vlti/configuration/index.html
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
              Name of the configuration (optional)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="version" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
              Version is useful for the VLTI to set the Period (Period 85)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="interferometer" type="xsd:IDREF">
        <xsd:annotation>
          <xsd:documentation>
              The interferometer associated with this configuration
          </xsd:documentation>
          <xsd:appinfo>
            <jaxb:property>
              <jaxb:baseType name="InterferometerDescription" />
            </jaxb:property>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="instrument" type="FocalInstrumentConfiguration" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
              The list of  configuration for a focal instrument
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

    </xsd:sequence>
  </xsd:complexType>




  <!-- FocalInstrumentConfiguration -->
  <xsd:complexType name="FocalInstrumentConfiguration">
    <xsd:annotation>
      <xsd:documentation>
        This type describes a focal instrument configuration (AMBER : UT1-UT2-UT4, A0-K0-G1, MIDI : UT1-UT3-102m, E0-I1-68.8m)
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="focalInstrument" type="xsd:IDREF">
        <xsd:annotation>
          <xsd:documentation>
              The focal instrument associated with this configuration
          </xsd:documentation>
          <xsd:appinfo>
            <jaxb:property>
              <jaxb:baseType name="FocalInstrument" />
            </jaxb:property>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="configuration" type="FocalInstrumentConfigurationItem" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
              The list of configuration for the focal instrument. (optional)
              If this list is undefined, any station can be used.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

    </xsd:sequence>
  </xsd:complexType>




  <!-- FocalInstrumentConfigurationItem -->
  <xsd:complexType name="FocalInstrumentConfigurationItem">
    <xsd:annotation>
      <xsd:documentation>
        This type describes a focal instrument configuration item (AMBER : U1-U2-U4)
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
              The name of this configuration (optional)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="stations" type="xsd:IDREFS">
        <xsd:annotation>
          <xsd:documentation>
              The list of stations for this configuration (U1 U2 U4)
          </xsd:documentation>
          <xsd:appinfo>
            <jaxb:property>
              <jaxb:baseType name="Station" />
            </jaxb:property>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="channels" type="xsd:IDREFS" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
              The list of channels for this configuration (V1 V2) used by CHARA/Vega 
          </xsd:documentation>
          <xsd:appinfo>
            <jaxb:property>
              <jaxb:baseType name="Channel" />
            </jaxb:property>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>





<!-- Generic Interferometer Description i.e. not related to a particular configuration / period -->

  <!-- Interferometer -->
  <xsd:complexType name="InterferometerDescription">
    <xsd:annotation>
      <xsd:documentation>
        This type describes the interferometer site

        Information to add :

        obsMinElev 20

      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="name" type="xsd:ID">
        <xsd:annotation>
          <xsd:documentation>
              Name/Identifier for this Interferometer (VLTI)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="description" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
              Description of the Interferometer
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="position" type="Position3D">
        <xsd:annotation>
          <xsd:documentation>
          These “GEOCENTRIC” coordinates are given
          in an earth-centered, earth-fixed, Cartesian reference frame. The origin of the coordinates
          is the earth’s centre of mass. The z axis is parallel to the direction of the conventional
          origin for polar motion. The x axis is parallel to the direction of the intersection of the
          Greenwich meridian with the mean astronomical equator. The y axis completes the right-
          handed, orthogonal coordinate system.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="posSph" type="LonLatAlt" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            These coordinates are computed internally and must not be provided in the configuration file
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="telescope" type="Telescope" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
              The list of telescopes for this interferometer
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="station" type="Station" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
              The list of stations for this interferometer
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="channel" type="Channel" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
              The list of channels for this interferometer (optional)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="delayLine" type="DelayLine" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
              The list of delay lines for this interferometer
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="switchyard" type="SwitchYard" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
              The switchyard for this interferometer (optional)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="pop" type="Pop" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
              The list of POPs for this interferometer (optional)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="fringeTracker" type="FringeTracker" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
              The interferometer has a fringe tracker system (optional)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="focalInstrument" type="FocalInstrument" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
              The list of instruments for this interferometer
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

    </xsd:sequence>
  </xsd:complexType>




  <!-- Telescope -->
  <xsd:complexType name="Telescope">
    <xsd:annotation>
      <xsd:documentation>
        This type describes a telescope or a telescope family ...
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="name" type="xsd:ID">
        <xsd:annotation>
          <xsd:documentation>
              Name/Identifier for this telescope or telescope family (UT, AT ...)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="diameter" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
              Telescope diameter (m)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="adaptiveOptics" type="AdaptiveOptics" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
              Telescope has an Adaptive Optics system (optional)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

    </xsd:sequence>
  </xsd:complexType>




  <!-- AdaptiveOptics -->
  <xsd:complexType name="AdaptiveOptics">
    <xsd:annotation>
      <xsd:documentation>
        This type describes an Adaptive Optics system
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="band" type="SpectralBand">
        <xsd:annotation>
          <xsd:documentation>
              Spectral Band used by the Adaptive Optics system
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="numberActuators" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>
              Number of actuators
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="magLimit" type="xsd:double" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
              The usage limit (mag) (values TBD)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>




  <!-- Station -->
  <xsd:complexType name="Station">
    <xsd:annotation>
      <xsd:documentation>
        This type describes a station for a given telescope
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="name" type="xsd:ID">
        <xsd:annotation>
          <xsd:documentation>
              Name / Identifier of this Station (U1, A0, K0, G1 ...)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="telescope" type="xsd:IDREF">
        <xsd:annotation>
          <xsd:documentation>
              Telescope Reference
          </xsd:documentation>
          <xsd:appinfo>
            <jaxb:property>
              <jaxb:baseType name="Telescope" />
            </jaxb:property>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="relativePosition" type="Position3D">
        <xsd:annotation>
          <xsd:documentation>
              Relative position (m) to the interferometer location
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="delayLineFixedOffset" type="xsd:double" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
             Delay Line fixed offset for this station
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="popLink" type="PopLink" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
              The list of the links between a station and the POPs for this interferometer
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="horizon" type="HorizonProfile" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            An optional horizon profile seen from this station
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>




  <!-- PopLink -->
  <xsd:complexType name="PopLink">
    <xsd:annotation>
      <xsd:documentation>
        This type describes a link to a POP with its optical length
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="pop" type="xsd:IDREF">
        <xsd:annotation>
          <xsd:documentation>
              The associated POP
          </xsd:documentation>
          <xsd:appinfo>
            <jaxb:property>
              <jaxb:baseType name="Pop" />
            </jaxb:property>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="opticalLength" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
              The length in meter corresponding to the delay due to the associated POP
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>




  <!-- HorizonProfile -->
  <xsd:complexType name="HorizonProfile">
    <xsd:annotation>
      <xsd:documentation>
        This type describes the profile of the horizon seen from a station.
        The profile is described as a polygon (list of points) defined
        in azimuth [0..360 deg] and elevation [0..90 deg]

        cf : http://www.eso.org/sci/facilities/paranal/telescopes/vlti/pointing/index.html
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="point" type="AzEl" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            The list of points for the horizon Profile defined
            in azimuth [0..360 deg] and elevation [0..90 deg]
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>




  <!-- Channel -->
  <xsd:complexType name="Channel">
    <xsd:annotation>
      <xsd:documentation>
        This type describes an interferometer channel
        corresponding to a beam arriving in the interferometer focal plane
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="name" type="xsd:ID">
        <xsd:annotation>
          <xsd:documentation>
              Channel name / Identifier
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>




  <!-- SwitchYard -->
  <xsd:complexType name="SwitchYard">
    <xsd:annotation>
      <xsd:documentation>
        This type describes a possible switchyard for the interferometer
        i.e. the fixed distance between a station and a channel in the focal plane
        (opd = 0, time reference)
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="stationLinks" type="StationLinks" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
              The list of the links between a station and the channels for this interferometer
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>




  <xsd:complexType name="StationLinks">
    <xsd:annotation>
      <xsd:documentation>
        This type describes the links between a station and the channels
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="station" type="xsd:IDREF">
        <xsd:annotation>
          <xsd:documentation>
              The starting point of the link = the station
          </xsd:documentation>
          <xsd:appinfo>
            <jaxb:property>
              <jaxb:baseType name="Station" />
            </jaxb:property>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="channelLink" type="ChannelLink" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
              The ending point of the link = the channel
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>




  <xsd:complexType name="ChannelLink">
    <xsd:annotation>
      <xsd:documentation>
        This type describes a link to a channel with its optical length
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="channel" type="xsd:IDREF">
        <xsd:annotation>
          <xsd:documentation>
              The ending point of the link = the channel
          </xsd:documentation>
          <xsd:appinfo>
            <jaxb:property>
              <jaxb:baseType name="Channel" />
            </jaxb:property>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="opticalLength" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
              The length in meter of this link
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>




  <!-- DelayLine -->
  <xsd:complexType name="DelayLine">
    <xsd:annotation>
      <xsd:documentation>
        This type describes a delay line (DL) present in the interferometer
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <!-- warning : DL1 can be used several times in a document gathering multiple interferometers -->
      <xsd:element name="name" type="xsd:ID">
        <xsd:annotation>
          <xsd:documentation>
              Delay Line (DL1 ...)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="maximumThrow" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
              Maximum throw in m
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>




  <!-- Pop -->
  <xsd:complexType name="Pop">
    <xsd:annotation>
      <xsd:documentation>
        This type describes a Pipe of Pan (POP) present in the interferometer.
        This only defines the identifier / name of the POP that is then used in
        the station definition to give the fixed delay due to the POP.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="name" type="xsd:ID">
        <xsd:annotation>
          <xsd:documentation>
              POP identifier (Pop1 ...)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="index" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>
              POP index (1 2 3 4 5 ...)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>






  <!-- FocalInstrument -->
  <xsd:complexType name="FocalInstrument">
    <xsd:annotation>
      <xsd:documentation>
        This type describes a focal instrument (AMBER, MIDI ...)
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="name" type="xsd:ID">
        <xsd:annotation>
          <xsd:documentation>
              Name of the focal instrument (AMBER, MIDI ...)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="description" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
              Description of the instrument
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="numberChannels" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>
              The number of channels used by this instrument
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="defaultSamplingTime" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>
              The default sampling time for this instrument (min)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <!-- noise modelling parameters -->

      <xsd:element name="transmission" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
              The transmission of interferometer+instrument at observed wavelength (typically 0.01)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="dit" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
              The Detector individual integration time in seconds (typically less than 0.1s)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ron" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
              The Detector readout noise (typically 10)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="detectorSaturation" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
              The Detector is non-linear above (to avoid saturation/non-linearity) (typically more than 20000)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="instrumentVisibility" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
              The instrumental visibility (multiplicative) [0.0 - 1.0] (typically 0.9)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="instrumentVisibilityBias" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
              The Typical Visibility Bias (percent of V) (typically 1)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="instrumentPhaseBias" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
              The Typical Phase/Phase Closure Bias in degrees (typically 1)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="nbPixInterferometry" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>
              The number of pixels to code all fringes together (interferometric channel)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="nbPixPhotometry" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>
              The number of pixels to code each photometric channel
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fracFluxInInterferometry" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
              The fraction of flux going into interferometric channel (typically 0.9)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <!-- should we have an explicit list of channels used by this focal instrument ? -->

      <xsd:element name="mode" type="FocalInstrumentMode" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
              The list of mode for this focal instrument
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

    </xsd:sequence>
  </xsd:complexType>







  <!-- FocalInstrumentMode -->
  <xsd:complexType name="FocalInstrumentMode">
    <xsd:annotation>
      <xsd:documentation>
        This type describes a focal instrument mode (AMBER : "Low_HK" ... "Medium_K_1_2300" ... "High_K_1_2481").
        It has a wavelength range (waveLengthMin - waveLengthMax), a spectral resolution (resolution)
        and optionaly a number of channels (numberChannels)
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
              The name of this instrument mode
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="resolution" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
              The spectral resolution of this instrument mode
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="numberChannels" type="xsd:int" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
              The number of spectral channels of this instrument mode (optional)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="waveLengthMin" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
              The lower wave length of this instrument mode
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="waveLengthMax" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
              The upper wave length of this instrument mode
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>







  <!-- FringeTracker -->
  <xsd:complexType name="FringeTracker">
    <xsd:annotation>
      <xsd:documentation>
        This type describes a Fringe Tracker system
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>

      <xsd:element name="name" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
              The name of this fringe tracker system (FINITO for VLTI)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="band" type="SpectralBand">
        <xsd:annotation>
          <xsd:documentation>
              The observing band (FINITO = H)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="mode" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
              The list of possible modes (FINITO = GroupTrack or FringeTrack)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="instrumentVisibility" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
              The instrumental visibility (multiplicative) (FINITO = 0.9)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="magLimit" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
              The usage limit (mag) (FINITO = 12)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="maxIntegration" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>
              The max Integration Time (s) (FINITO = 60)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

    </xsd:sequence>
  </xsd:complexType>



  <!-- SpectralBand -->
  <xsd:simpleType name="SpectralBand">
    <xsd:annotation>
      <xsd:documentation>
        Possible values for the SpectralBand (UBVRIJHKLMNQ)
        http://fr.wikipedia.org/wiki/Syst%C3%A8me_photom%C3%A9trique
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="V">
        <xsd:annotation>
          <xsd:documentation>V band</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="R">
        <xsd:annotation>
          <xsd:documentation>R band</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="I">
        <xsd:annotation>
          <xsd:documentation>I band</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="J">
        <xsd:annotation>
          <xsd:documentation>J band</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="H">
        <xsd:annotation>
          <xsd:documentation>H band</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="K">
        <xsd:annotation>
          <xsd:documentation>K band</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="N">
        <xsd:annotation>
          <xsd:documentation>N band</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>




  <!-- AtmosphereQuality -->
  <xsd:simpleType name="AtmosphereQuality">
    <xsd:annotation>
      <xsd:documentation>
        Possible values for the AtmosphereQuality :
        - "Average"   seeing = 1.0 arc sec
        - "Good"      seeing = 0.6 arc sec
        - "Excellent" seeing = 0.4 arc sec
        - "Bad"       seeing = 1.4 arc sec
        - "Awful"     seeing = 1.8 arc sec
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Average">
        <xsd:annotation>
          <xsd:documentation>'Average' means seeing = 1.0 arc sec</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Good">
        <xsd:annotation>
          <xsd:documentation>'Good' means seeing = 0.6 arc sec</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Excellent">
        <xsd:annotation>
          <xsd:documentation>'Excellent' means seeing = 0.4 arc sec</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Bad">
        <xsd:annotation>
          <xsd:documentation>'Bad' means seeing = 1.4 arc sec</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Awful">
        <xsd:annotation>
          <xsd:documentation>'Awful' means seeing = 1.8 arc sec</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>




<!-- simple types restrictions -->

  <xsd:complexType name="Position3D">
    <xsd:annotation>
      <xsd:documentation>
        This data type describes a carthesian position (x,y,z) in meters
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="posX" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
              X position value (m)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="posY" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
              Y position value (m)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="posZ" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
              Z position value (m)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="LonLatAlt">
    <xsd:annotation>
      <xsd:documentation>
        This data type describes a geographic position (longitude,latitude,altitude)
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="longitude" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
              Longitude (rad)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="latitude" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
              Latitude (rad)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="altitude" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
              Altitude (m)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="AzEl">
    <xsd:annotation>
      <xsd:documentation>
        This data type describes a position in the horizontal frame (azimuth, elevation)
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="azimuth" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
              azimuth angle
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="elevation" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
              Elevation angle
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>