src/fr/jmmc/aspro/model/AsproOIModel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns="http://www.jmmc.fr/aspro-oi/0.1"
            targetNamespace="http://www.jmmc.fr/aspro-oi/0.1">

  <xsd:annotation>
    <xsd:documentation>
        This xml schema describes the optical interferometer 

        Created : 08/09/2009 :
          Laurent : Initial revision
    </xsd:documentation>
  </xsd:annotation>


<!-- Elements -->

  <xsd:element name="InterferometerConfiguration" type="Interferometer">
    <xsd:annotation>
      <xsd:documentation>
        this element contains a complete Interferometer description
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="ObservationSettings" type="Observation">
    <xsd:annotation>
      <xsd:documentation>
        this element contains a complete Observation description
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>


<!-- Class Types -->

<!-- Observation -->
  <xsd:complexType name="Observation">
    <xsd:annotation>
      <xsd:documentation>
        This type describes the observation settings

        Information to add :
        - atmosphere Quality (atmoQual)
        - min elevation for the target (minElev)
  let oipt%minElev 'oipt%minElev' /prompt "Min. Elevation (degrees)" /range oipt%obsMinElev 90


        - focal instrument (focalinst)
        - configuration (configIndex)
        - insMode
        - insNchan
        - insRes

        - polychromatic (flag)



        - target(s)


   let oipt%wavelength 'oipt%wavelength' /prompt "Observing Wavelength (microns)" /range oipt%lambdamin oipt%lambdamax *

   let oipt%popslist 'oipt%popslist' /Prompt "Pops Config (eg. 1234, 0000=none)"


   let oipt%atmoQual 'oipt%atmoQual' /prompt "Atmosphere Quality" /choice "Excellent" "Good" "Average" "Bad" "Awful"

   let oipt%FTMode 'oipt%FTMode' /prompt "FT Mode" /INDEX oipt%vlti%FT%Mode
   let oipt%insMode 'oipt%insMode' /prompt "Spectral Mode" /INDEX oipt%vlti%amber%insMode

   let oipt%dit 'oipt%dit' /prompt "Detector Integration Time" /Choice 25 50 100

   let oipt%insMode 'oipt%insMode' /prompt "Spectral Mode" /INDEX oipt%vlti%midi%insMode
   let oipt%FTMode 'oipt%FTMode' /prompt "FT Mode" /INDEX oipt%vlti%FT%Mode
   let oipt%FTUsed 'oipt%FTUsed' /prompt "Use MROI`s Fringe Tracker"

   let oipt%polychromatic 'oipt%polychromatic' /prompt "Simulate Instrument`s spectral resolution"

   let oipt%obsDuration 'oipt%obsDuration' /prompt "Total Integration Time (s) per calibrated point"

   SIC\LET oipt%warnLimitingMagnitudes 'oipt%warnLimitingMagnitudes' /prompt "use faint object warnings"

  let oipt%ha1 'oipt%ha1' /prompt "Hour Angle Start" /range -12 12 *
  let oipt%ha2 'oipt%ha2' /prompt "Hour Angle End" /range -12 12 *
  let oipt%minElev 'oipt%minElev' /prompt "Min. Elevation (degrees)" /range oipt%obsMinElev 90
  let oipt%samplingTime 'oipt%samplingTime' /prompt "Observing Sampling Periodicity (min)"

      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
              Identifier for this observation
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <!-- date / time : should we support a date range ? -->
      <xsd:element name="date" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>
              Observation Date (YYYY-MM-DD)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="time" type="xsd:time">
        <xsd:annotation>
          <xsd:documentation>
              Observation Time (hh:mm:ss)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="wavelength" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
              Observing Wavelength (microns)
              Range LambdaMin / Lambda Max
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

    </xsd:sequence>


  </xsd:complexType>






  <!-- Interferometer -->
  <xsd:complexType name="Interferometer">
    <xsd:annotation>
      <xsd:documentation>
        This type describes the interferometer site

        Information to add :

        SLIMIT = Sun avoidance radius ???
        obsMinElev 20


  TBD variables :

Adaptive Optics :
 let oipt%AOExist YES
 let oipt%AOBand "V" ! a default AO band
 let oipt%AOnbAct 2-64  ! Number of Actuators of AO

Fringe Tracker
 let oipt%FTExist YES
 let oipt%FTBand "H" ! same for FTs
 let oipt%FTUsed NO
 let oipt%FTMode 0
 let oipt%FTVisibility 0.9
 let oipt%FTLimit 12
 let oipt%FTMaxInt 60.0

 let oipt%insMode 1
 let oipt%configIndex 1
 let oipt%obsMinElev 20

 let oipt%samplingTime 60
 let oipt%insRes 0
 let oipt%insNchan 1
 let oipt%transmission 0.02
 let oipt%dit 100 !ms
 let oipt%ron 10 !e
 let oipt%detsaturation 24000
 let oipt%instrumentalVisibility 0.9
 let oipt%instrumentalVisibilityBias 2
 let oipt%instrumentalPhaseBias 2
 let oipt%nbPixI 32
 let oipt%nbPixP 32
 let oipt%fracFluxForI 0.5
 let oipt%warnLimitingMagnitudes NO

      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="id" type="xsd:ID">
        <xsd:annotation>
          <xsd:documentation>
              Identifier for this Interferometer
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="name" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
              Name of the Interferometer (VLTI)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="description" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
              Description of the Interferometer
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="position" type="Position3D">
        <xsd:annotation>
          <xsd:documentation>
          These “GEOCENTRIC” coordinates are given
          in an earth-centered, earth-fixed, Cartesian reference frame. The origin of the coordinates
          is the earth’s centre of mass. The z axis is parallel to the direction of the conventional
          origin for polar motion. The x axis is parallel to the direction of the intersection of the
          Greenwich meridian with the mean astronomical equator. The y axis completes the right-
          handed, orthogonal coordinate system.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      

      <xsd:element name="telescope" type="Telescope" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
              The list of telescopes for this interferometer
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="station" type="Station" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
              The list of stations for this interferometer
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="delayLine" type="DelayLine" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
              The list of delay lines for this interferometer
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="pop" type="Pop" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
              The list of pops for this interferometer (optional)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>


      <xsd:element name="focalInstrument" type="FocalInstrument" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
              The list of instruments for this interferometer
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>


    </xsd:sequence>
  </xsd:complexType>




  <!-- Telescope -->
  <xsd:complexType name="Telescope">
    <xsd:annotation>
      <xsd:documentation>
        This type describes a telescope
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="id" type="xsd:ID">
        <xsd:annotation>
          <xsd:documentation>
              Identifier for this Telescope
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="name" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
              Name of this telescope (UT1, AT1 ...)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="diameter" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
              Telescope diameter (m)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <!-- TBD -->
    </xsd:sequence>
  </xsd:complexType>


  <!-- Station -->
  <xsd:complexType name="Station">
    <xsd:annotation>
      <xsd:documentation>
        This type describes a station for a given telescope
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="name" type="xsd:ID">
        <xsd:annotation>
          <xsd:documentation>
              Name of this Station (U1, A0, K0, G1 ...)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="telescope" type="xsd:IDREF">
        <xsd:annotation>
          <xsd:documentation>
              Telescope Reference
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="relativePosition" type="Position3D">
        <xsd:annotation>
          <xsd:documentation>
              Relative position (m) to the interferometer location
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="delayLineFixedOffset" type="xsd:double" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
             Delay fixed offset ???
             If present, sets a fixed offset whatever the switchyard
             (or if no sw at all, for ex. 1 delay line only).
             will eventually be update by the switchyard file
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="horizon" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
              To be defined : Polygons or segments ??? degrees ?
              cf : http://www.eso.org/sci/facilities/paranal/telescopes/vlti/pointing/index.html
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>

      <!--
        Elevation limit 	Lower Azimuth Limit 	Upper Azimuth Limit  ???

        http://www.eso.org/sci/facilities/paranal/telescopes/vlti/configuration/index.html
      -->

<!-- switchyard = fixed delay -->


      <!-- TBD -->
  </xsd:complexType>


  <!-- DelayLine -->
  <xsd:complexType name="DelayLine">
    <xsd:annotation>
      <xsd:documentation>
        This type describes a delay line (DL) for a given telescope
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <!-- warning : DL1 can be used several times in a document gathering multiple interferometers -->
      <xsd:element name="name" type="xsd:ID">
        <xsd:annotation>
          <xsd:documentation>
              Delay Line (DL1 ...)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="maximumThrow" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
              Maximum throw in m == maximum length ???
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
      <!-- TBD -->
  </xsd:complexType>


  <!-- FocalInstrument -->
  <xsd:complexType name="FocalInstrument">
    <xsd:annotation>
      <xsd:documentation>
        This type describes a focal instrument (AMBER, MIDI ...)

        Information to add :

      allowedSpectralBand (V, K, I, H, N, J) [1-3]
      AOExist YES
      FTExist YES
      FTVisibility
      FTLimit
      FTMaxInt
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
              Name of the focal instrument (AMBER, MIDI ...)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="description" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
              Description of the instrument
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="configuration" type="FocalInstrumentConfiguration" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
              The list of configuration for this focal instrument
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <!-- TBD -->
    </xsd:sequence>
  </xsd:complexType>


  <!-- FocalInstrumentConfiguration -->
  <xsd:complexType name="FocalInstrumentConfiguration">
    <xsd:annotation>
      <xsd:documentation>
        This type describes a focal instrument configuration (AMBER : UT1-UT2-UT4, A0-K0-G1, MIDI : UT1-UT3-102m, E0-I1-68.8m)
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string">
      </xsd:element>

      <xsd:element name="station" type="xsd:IDREF" minOccurs="2" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
              The list of stations for this configuration
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <!-- TBD -->
    </xsd:sequence>
  </xsd:complexType>







  <!-- Pop -->
  <xsd:complexType name="Pop">
    <xsd:annotation>
      <xsd:documentation>
        This type describes a Pop
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
        <!-- cf CHARA.pops == pop list is associated to a delay line or not ??? -->
      <xsd:element name="value" type="xsd:double" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
              Pop value in meter
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>



<!-- simple types restrictions -->

  <xsd:simpleType name="string16">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="0"/>
      <xsd:maxLength value="16"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="Position3D">
    <xsd:annotation>
      <xsd:documentation>
        This data type describes a carthesian position (x,y,z) in meters
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="posX" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
              X position value (m)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="posY" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
              Y position value (m)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="posZ" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>
              Z position value (m)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>