aspro/src/test/resources/xml/mfmdl.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Document   : LITproSettings.xsd
Created on : 31 octobre 2006, 09:25
Author     : mella
Description:

The form try to collect every informtions needed by model fitting process

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
    <xsd:annotation>
        <xsd:documentation>
            Jmmc model fitting settings Xml Schema.
        </xsd:documentation>
    </xsd:annotation>

<xsd:element name="response">

        <xsd:annotation>
            <xsd:documentation>
                Highest element of that generally is a server response of LITpro wrapper.
            </xsd:documentation>
        </xsd:annotation>

        <xsd:complexType >
            <xsd:choice minOccurs="0" maxOccurs="unbounded">
                <xsd:element ref="message"/>
                <xsd:element ref="settings"/>
                <xsd:element ref="model"/>
                <xsd:element ref="resultFile"/>
            </xsd:choice>
        </xsd:complexType>

    </xsd:element>
    
    <!--
Root element of settings 
    -->
    <xsd:element name="settings">
        <xsd:annotation>
            <xsd:documentation>
                Highest element of settings.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType >
            <xsd:sequence>
                <xsd:element ref="files" minOccurs="1" maxOccurs="1"/>
                <xsd:element ref="targets" minOccurs="1" maxOccurs="1"/>
                <xsd:element ref="parameters" minOccurs="0" maxOccurs="1"/>
                <xsd:element name="fitter" type="xsd:string" minOccurs="1" maxOccurs="1" />
                <xsd:element ref="results" minOccurs="0" maxOccurs="1"/>
                <xsd:element name="userInfo" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <!--
File list. 
    -->
    <xsd:element name="files">
        <xsd:annotation>
            <xsd:documentation>
                Contains files.
            </xsd:documentation>
        </xsd:annotation>
        
        <xsd:complexType >
            <xsd:sequence>
                <xsd:element ref="file" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
        
    </xsd:element>
    
    
    <!--
File description with its possible content. 
    -->
    <xsd:element name="file">
        <xsd:annotation>
            <xsd:documentation>
                File description.
            </xsd:documentation>
        </xsd:annotation>
        
        <xsd:complexType >
            <xsd:sequence>
                <xsd:element ref="oitarget" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="name" type="xsd:string" use="required"/>
            <xsd:attribute name="id" type="xsd:ID" use="required"/>
            <xsd:attribute name="href" type="xsd:string" use="optional"/>
        </xsd:complexType>
        
    </xsd:element>
    
    
    <!--
File link used by targets to reference existing files by their id. 
    -->
    <xsd:element name="fileLink">
        <xsd:annotation>
            <xsd:documentation>
                File link.
            </xsd:documentation>
        </xsd:annotation>
        
        <xsd:complexType >
            <xsd:attribute name="fileRef" type="xsd:IDREF"/>
        </xsd:complexType>
        
    </xsd:element>
    
    
    <!--
oitarget representation 
    -->
    <xsd:element name="oitarget">
        
        <xsd:annotation>
            <xsd:documentation>
                oitarget representation.
            </xsd:documentation>
        </xsd:annotation>
        
        <xsd:complexType >
            <xsd:sequence>
                <xsd:element name="target" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="infos" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
        
    </xsd:element>
    
    
    <!--
Target list 
    -->
    <xsd:element name="targets">
        
        <xsd:annotation>
            <xsd:documentation>
                Contains target elements.
            </xsd:documentation>
        </xsd:annotation>
        
        <xsd:complexType >
            <xsd:sequence>
                <xsd:element ref="target" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
        
    </xsd:element>
    
    <xsd:element name="target">
        <xsd:annotation>
            <xsd:documentation>
                Target representation.
            </xsd:documentation>
        </xsd:annotation>
        
        <xsd:complexType >
            <xsd:sequence>
                <xsd:element name="ident" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                <xsd:element ref="fileLink" minOccurs="1" maxOccurs="unbounded"/>
                <xsd:element ref="model" minOccurs="1" maxOccurs="unbounded"/>
                <xsd:element name="normalize" type="xsd:boolean"  minOccurs="0" maxOccurs="1"/>
                <xsd:element ref="residuals"  minOccurs="0" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
        
    </xsd:element>
    
    <xsd:element name="residuals">
        <xsd:annotation>
            <xsd:documentation>
                Residuals configuration.
            </xsd:documentation>
        </xsd:annotation>
    
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="residual" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="residual">
        <xsd:annotation>
            <xsd:documentation>
                Residual description.
            </xsd:documentation>
        </xsd:annotation>

        <xsd:complexType>
            <xsd:attribute name="name" type="xsd:string" use="required"/>
            <xsd:attribute name="type" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>


    <!--
Basic model representation. This model also correspond to composite model 
    -->
    <xsd:element name="model">
        <xsd:annotation>
            <xsd:documentation>
                A common representation of every models.
            </xsd:documentation>
        </xsd:annotation>
        
        <xsd:complexType >
            <xsd:sequence>
                <xsd:element ref="model" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="desc" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                <xsd:element ref="parameter" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element ref="parameterLink" minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
            <xsd:attributeGroup ref="ModelAttributes"/>
        </xsd:complexType>
    </xsd:element>
    
    <!-- Model attributes -->
    <xsd:attributeGroup name="ModelAttributes">
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="type" type="xsd:string" use="required"/>
    </xsd:attributeGroup>
    
    
    <!--
Parameter list. 
    -->
    <xsd:element name="parameters">
        <xsd:annotation>
            <xsd:documentation>
                Contains parameters.
            </xsd:documentation>
        </xsd:annotation>
        
        <xsd:complexType >
            <xsd:sequence>
                <xsd:element ref="parameter" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
        
    </xsd:element>
    
    
    <!--
Model parameter representation.
    -->
    <xsd:element name="parameter">
        <xsd:annotation>
            <xsd:documentation>
                A common representation of every model parameters.
            </xsd:documentation>
        </xsd:annotation>
        
        <xsd:complexType>
            <xsd:all>
                <xsd:element name="desc" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                <xsd:element name="units" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                <xsd:element name="value" type="xsd:double" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="minValue" type="xsd:double" minOccurs="0" maxOccurs="1"/>
                <xsd:element name="maxValue" type="xsd:double" minOccurs="0" maxOccurs="1"/>
                <xsd:element name="scale" type="xsd:double" minOccurs="0" maxOccurs="1"/>
                <xsd:element name="hasFixedValue" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="editable" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
            </xsd:all>
            <xsd:attributeGroup ref="ParameterAttributes"/>
        </xsd:complexType>
    </xsd:element>
    
    <!--
Parameter link used by target's models to reference existing parameters 
by their id. 
    -->
    <xsd:element name="parameterLink">
        <xsd:annotation>
            <xsd:documentation>
                Parameter link.
            </xsd:documentation>
        </xsd:annotation>
        
        <xsd:complexType >
            <xsd:attribute name="parameterRef" type="xsd:IDREF" use="required" />
            <xsd:attribute name="type" type="xsd:string" />
        </xsd:complexType>
        
    </xsd:element>
    
    <!-- Parameters attributes -->
    <xsd:attributeGroup name="ParameterAttributes">
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="type" type="xsd:string" use="required"/>
        <!-- <xsd:attribute name="id" type="xsd:ID" use="required"/> -->
        <xsd:attribute name="id" type="xsd:ID"/>
    </xsd:attributeGroup>

 <!--
Result list.
    -->
    <xsd:element name="results">
        <xsd:annotation>
            <xsd:documentation>
                Contains results.
            </xsd:documentation>
        </xsd:annotation>

        <xsd:complexType >
            <xsd:sequence>
                <xsd:element ref="result" minOccurs="0" maxOccurs="unbounded"/>                
            </xsd:sequence>
        </xsd:complexType>

    </xsd:element>

    <!-- Result Section -->
    <xsd:element name="result">
        <xsd:annotation>
            <xsd:documentation>
                Result of a fit section.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:any minOccurs="0" processContents="skip"/>
            </xsd:sequence>
            <xsd:attribute name="href" type="xsd:string" use="optional"/>
        </xsd:complexType>
        
    </xsd:element>


     <!-- Message Section -->
    <xsd:element name="message">
        <xsd:annotation>
            <xsd:documentation>
                Define a message to be displayed.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:simpleContent>
            <xsd:extension base="xsd:string">
            <xsd:attribute name="type" type="xsd:string" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
 
        </xsd:complexType>

    </xsd:element>

    <!--
File description with its possible content. 
    -->
    <xsd:element name="resultFile">
        <xsd:annotation>
            <xsd:documentation>
                Result file description.
            </xsd:documentation>
        </xsd:annotation>
        
        <xsd:complexType >
            <xsd:sequence>
                <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="name" type="xsd:string" use="optional"/>
            <xsd:attribute name="id" type="xsd:ID" use="optional"/>
            <xsd:attribute name="href" type="xsd:string" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    
</xsd:schema>

